<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>LetsGo Assignment</title>

<style type="text/css">
	{% block custom_css %}
	{% endblock %}
</style>
</head>

<body>
	<div id="Header">
		<h1>LetsGo Assignment -{% block title %}{% endblock %}</h1>
		<hr/>
	</div>
	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
	<hr/>
</body>
</html>
