{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block custom_css %}
    .car_title {
        font-weight: bold;
    }
{% endblock %}


{% block content %}
<div id="car_list">
    <h2>{{ car.make }} {{ car.model }}</h2>
    <img src="{{ car.vehicle_type_image }}" height="114" width="243">
    <table style="padding: 5px;">
        <tr>
            <td class="car_title">color:</td>
            <td>{{ car.color }}</td>
            <td> </td>
            <td class="car_title">fuel_type:</td>
            <td>{{ car.fuel_type }}</td>
        </tr>
        <tr>
            <td class="car_title">license_plate:</td>
            <td>{{ car.license_plate }}</td>
            <td> </td>
            <td class="car_title">health:</td>
            <td>{{ car.health }}</td>
        </tr>
        <tr>
            <td class="car_title">has_logo:</td>
            <td>{{ car.has_logo }}</td>
            <td> </td>
            <td class="car_title">year:</td>
            <td>{{ car.year }}</td>
        </tr>
        <tr>
            <td class="car_title">region:</td>
            <td>{{ car.region }}</td>
            <td> </td>
            <td class="car_title">vehicle_type</td>
            <td>{{ car.vehicle_type }}</td>

        </tr>
    </table>
    <hr>
</div>
{% endblock %}
